{% extends "layout.html" %}

{% block head_css %}
    <title>RealTime</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/register.css">
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="POST">
        <div class="bsec">
            <label for="username">Username</label>
            <input type="text" id="product" name="username">
        </div>
        <div class="bsec">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="bsec">
            <label for="password">Confirmation Password</label>
            <input type="password" id="con-password" name="confirmation-password">
        </div>
        <button type="submit" >Submit</button>
    </form>
{% endblock %}