{% extends "layout.html" %}

{% block title %}
    Stats
{% endblock %}

{% block main %}
    <div class="container p-5">
        <h2>Plot</h2>
        <form action="/stats" method="POST">
            <div class="form-group">
                <label for="model">Show Regression Model</label>
                <input type="checkbox" class="form-control" id="model" name="model">
            </div>
            <div class="form-group">
                <label for="percentage">Show Percentages</label>
                <input type="checkbox" class="form-control" id="percentage" name="percentage">
            </div>
            <div class="form-group">
                <label for="stats">Show Statistics</label>
                <input type="checkbox" class="form-control" id="stats" name="stats">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    <div class="float-left">
        {% if statistics %}
        <table>
        {% for key, value in statistics.items() %}
        <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
        </tr>
        {% endfor %}
        </table>
        {% endif %}
    </div>
    <div class="float-right">
        <!-- Display image, this works, but we need to rerender whenever submit is clicked-->
        {% if user %}
        <img src="/static/{{ user }}.png" alt="Plot">
        {% endif %}
    </div>
{% endblock %}